body {
	background-color: #f4f4f4;
	color: #555;
	font-family: Arial;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
	text-align: center;
}

input[type=text], input[type=password], input[type=number], input[type=file] {
  width: 75%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing:border-box;
  text-align: center;
}

input[type=submit] {
  background-color: #7A1712;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
}

select[name=position] {
  width: 75%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing:border-box;
  text-align: center;
}

textarea[name=message] {
  width: 75%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing:border-box;
  text-align: center;
}

.button6 {
  background-color: #7A1712;
  width: 25%;
    padding: 15px 32px;
    font-size: 16px;
    margin-bottom: 20px;
}

.whitetext {
  color: white;

}